@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;600&family=Poppins:wght@400;600;900&display=swap');
@config "../tailwind.config.js";

body {
  @apply bg-base-100 text-base-content antialiased;
}

::selection {
  @apply bg-secondary text-white;
}
